<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>bean.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendList</servlet-name>
        <servlet-class>bean.FriendList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articles</servlet-name>
        <servlet-class>bean.Articles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chats</servlet-name>
        <servlet-class>bean.Chats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chat</servlet-name>
        <servlet-class>bean.Chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Donation</servlet-name>
        <servlet-class>bean.Donation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acquisition</servlet-name>
        <servlet-class>bean.Acquisition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <servlet-class>bean.Notifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>bean.Events</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendList</servlet-name>
        <url-pattern>/FriendList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articles</servlet-name>
        <url-pattern>/Articles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chats</servlet-name>
        <url-pattern>/Chats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chat</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Donation</servlet-name>
        <url-pattern>/Donation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acquisition</servlet-name>
        <url-pattern>/Acquisition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/Notifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/Events</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
