

body{
    position: relative;
    height: 100vh;

}

header{
    height:20%;
    width:100%
}

#header{
    position: relative;
    width:100%;
    height:100%;
}

#header-background{
    z-index: 0;
    position: absolute;
    height: auto;
    width: 100%;
}

#logo{
    z-index: 1;
    position: absolute;
    height: auto;
    width:30%;
}

#clock{
    height:auto;
    width:5%;
    right:30%;
    top:0;
    position: absolute;
    z-index: 1;
}


#picture{
    position: absolute;
    height:auto;
    width:10%;
    right:15%;
}

#picture:hover{
    opacity: 0.85;
}

#login{
    position: absolute;
    right:10%;
    top:110%;
    height:auto;
    width: 3%;
}

#login:hover{
    opacity: 0.85;
}

#door{
    height:auto;
    width:100%;
    position: absolute;
    right:2%;
    bottom:20%;
}

#door{
    display: block;
}

#door img{
    height:auto;
    width:5%;
    position: absolute;
    right:2%;
    
}

#door:hover{
    opacity: 0.8;
}

#door:hover+#logout{
    opacity: 0.8;
}

#logout{
    position: absolute;
    height:auto;
    width:3%;
    top:65%;
    left:91.6%;
}

#body {
    margin-top: 0px;
    position: absolute;
    width: 100%;
    min-width: 1340px;
    height:100%;
}

#tv-container{
    width:20%;
    float:left;
}

#tv-screen{
    position: absolute;
    width:93%;
    height:56%;
    left:13px;
    top:30px;
}

#middle-container{
    float:left;
    width:60%;
}

#middle-container img{
    width:50%;
}

#wiki:hover{
    position: absolute;
    opacity: 0.85;
    z-index: 2;
}
#wiki-button{
    z-index: 2;
    position: absolute;
    left:450px;
    top:-70px;
}


#table{
    position:absolute;
    z-index: 3;
    left:0px;
    top:60px;
}


#table:hover{
    opacity: 0.9;
}


#projector-screen{
    position: absolute;
    width:92%;
    height:53%;
    right:20px;
    top:32px;
}

#screen-container{
    float:left;
    width:18%;
    height:auto;
}
#screen-container img{
    width:100%;
    top:20px;
    position: relative;
    z-index: -1;
}
