#header{
    height:200px;
    position: relative;
    min-width: 1340px;
}

#header{
    position: relative;
}

#header img{
    position: absolute;

}

#header-background{
    height: 200px;
    width: 100%;
}

#logo{
    height: 100px;
    top:30px;
    left:50px;
}

#clock{
    position: absolute;
    right:400px;
    top:30px;
}

#logout{
    position: absolute;
    top:112px;
    right:170px;
}
#door{
    position: absolute;
    right:80px;
    top:80px;
}

#door:hover{
    opacity: 0.8;
}

#door:hover+#logout{
    opacity: 0.8;
}

#login{
    position: absolute;
    right:117px;
    top:130px;
    height:47px;
}

#login:hover{
    opacity: 0.85;
}

#picture{
    position: absolute;
    right:220px;
    top:30px;
}

#picture:hover{
    opacity: 0.85;
}

body{
    position: relative;
    margin:0;
    height:100%;
}

#body {
    margin-top: 0px;
    position: absolute;
    width: 100%;
    min-width: 1340px;
    height:100%;
}





#wiki:hover{
    position: absolute;
   opacity: 0.85;
   z-index: 2;
}



#wiki-button{
    z-index: 2;
    position: absolute;
    left:450px;
    top:-70px;
}


#table{
    position:absolute;
    z-index: 3;
    left:0px;
    top:60px;
}


#table:hover{
    opacity: 0.9;
}

#tv-screen{
    position: absolute;
    background-color: red;
    width:93%;
    height:56%;
    left:13px;
    top:30px;
}

#projector-screen{
    position: absolute;
    background-color: red;
    width:92%;
    height:53%;
    right:20px;
    top:32px;
}
#screen-container img{
    width:100%;
    top:20px;
    position: relative;
    z-index: -1;
}

.col-sm-6{
    padding:0;
}
#tv-container{
    top:10px;
    position: absolute;
}

.col-sm-3{
    padding-left:0;
}